# Using Pandas

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [3]:
vehicles_df = pd.read_csv("data/vehicles.csv")
vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [4]:
# How many observations does it have? - Check the rows
index = vehicles_df.index
nr_of_rows = len(index)
print(nr_of_rows)

# Do I understand all the columns? - Print column names
column_names = vehicles_df.head()
print(column_names)

35952
               Make                Model  Year  Engine Displacement  \
0        AM General    DJ Po Vehicle 2WD  1984                  2.5
1        AM General     FJ8c Post Office  1984                  4.2
2        AM General  Post Office DJ5 2WD  1985                  2.5
3        AM General  Post Office DJ8 2WD  1985                  4.2
4  ASC Incorporated                  GNX  1987                  3.8

   Cylinders     Transmission        Drivetrain                Vehicle Class  \
0        4.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
1        6.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
2        4.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
3        6.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
4        6.0  Automatic 4-spd  Rear-Wheel Drive                 Midsize Cars

  Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
0   Regular          19.388824        18           17            17
1   Regular          25.354615        13           13            13
2   Regular          20.600625        16           17            16
3   Regular          25.354615        13           13            13
4   Premium          20.600625        14           21            16

   CO2 Emission Grams/Mile  Fuel Cost/Year
0               522.764706            1950
1               683.615385            2550
2               555.437500            2100
3               683.615385            2550
4               555.437500            2550

In [5]:
# Anything weird in the raw data? - I will describe the dataframe and look for NaN values.

vehicles_df.count()
vehicles_df.describe()

Make                       35952
Model                      35952
Year                       35952
Engine Displacement        35952
Cylinders                  35952
Transmission               35952
Drivetrain                 35952
Vehicle Class              35952
Fuel Type                  35952
Fuel Barrels/Year          35952
City MPG                   35952
Highway MPG                35952
Combined MPG               35952
CO2 Emission Grams/Mile    35952
Fuel Cost/Year             35952
dtype: int64

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [6]:
# Checking missing values

vehicles_df_missing_info = pd.isnull(vehicles_df)
print(vehicles_df_missing_info)

        Make  Model   Year  Engine Displacement  Cylinders  Transmission  \
0      False  False  False                False      False         False
1      False  False  False                False      False         False
2      False  False  False                False      False         False
3      False  False  False                False      False         False
4      False  False  False                False      False         False
...      ...    ...    ...                  ...        ...           ...
35947  False  False  False                False      False         False
35948  False  False  False                False      False         False
35949  False  False  False                False      False         False
35950  False  False  False                False      False         False
35951  False  False  False                False      False         False

       Drivetrain  Vehicle Class  Fuel Type  Fuel Barrels/Year  City MPG  \
0           False          False      False              False     False
1           False          False      False              False     False
2           False          False      False              False     False
3           False          False      False              False     False
4           False          False      False              False     False
...           ...            ...        ...                ...       ...
35947       False          False      False              False     False
35948       False          False      False              False     False
35949       False          False      False              False     False
35950       False          False      False              False     False
35951       False          False      False              False     False

       Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year
0            False         False                    False           False
1            False         False                    False           False
2            False         False                    False           False
3            False         False                    False           False
4            False         False                    False           False
...            ...           ...                      ...             ...
35947        False         False                    False           False
35948        False         False                    False           False
35949        False         False                    False           False
35950        False         False                    False           False
35951        False         False                    False           False

[35952 rows x 15 columns]

In [7]:
# Data type check
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [8]:
# Replace all brand names that contain "Dutton" for "Dutton"

## Find all duttons
vehicles_df["Make"].str.contains("Dutton")
vehicles_df["Make"][vehicles_df["Make"].str.contains("Dutton")]

0        False
1        False
2        False
3        False
4        False
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Make, Length: 35952, dtype: bool

11012                    E. P. Dutton, Inc.
30164    S and S Coach Company  E.p. Dutton
31754      Superior Coaches Div E.p. Dutton
Name: Make, dtype: object

In [9]:
# Replace them with Dutton

vehicles_df["Make"][vehicles_df["Make"].str.contains("Dutton")] = "Dutton"

/var/folders/5w/01d7vm4j0msggtd01phb8l600000gn/T/ipykernel_12323/2059893848.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles_df["Make"][vehicles_df["Make"].str.contains("Dutton")] = "Dutton"

In [10]:
vehicles_df["Make"][vehicles_df["Make"].str.contains("Dutton")]

11012    Dutton
30164    Dutton
31754    Dutton
Name: Make, dtype: object

In [11]:
# Check if there are other similar examples
vehicles_df.Make.value_counts()

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1677
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Lotus                                 53
Roush Performance                     53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Merkur                                14
Federal Coach                         14
Import Trade Services                 13
McLaren Automotive                    13
Spyker                                13
Sterling                              12
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
Bertone                                5
VPG                                    5
Saleen                                 5
Panther Car Company Limited            4
Saleen Performance                     4
AM General                             4
Grumman Olson                          4
Texas Coach Company                    4
Vector                                 4
Autokraft Limited                      4
TVR Engineering Ltd                    4
Bitter Gmbh and Co. Kg                 3
Evans Automobiles                      3
BMW Alpina                             3
Consulier Industries Inc               3
Dabryan Coach Builders Inc             3
Dacia                                  3
Dutton                                 3
Morgan                                 3
Ruf Automobile Gmbh                    2
Bill Dovell Motor Car Company          2
Mobility Ventures LLC                  2
Laforza Automobile Inc                 2
CCC Engineering                        2
PAS Inc - GMC                          2
PAS, Inc                               2
SRT                                    2
Pagani                                 2
Red Shift Ltd.                         2
Pininfarina                            2
Quantum Technologies                   2
Isis Imports Ltd                       1
Mahindra                               1
ASC Incorporated                       1
Aurora Cars Ltd                        1
Volga Associated Automobile            1
Vixen Motor Company                    1
JBA Motorcars, Inc.                    1
London Coach Co Inc                    1
London Taxi                            1
Import Foreign Auto Sales Inc          1
Environmental Rsch and Devp Corp       1
Grumman Allied Industries              1
Goldacre                               1
General Motors                         1
Shelby                                 1
Fisker                                 1
Panos                                  1
Panoz Auto-Development                 1
Excalibur Autos                        1
Qvale                                  1
Lambda Control Systems                 1
Name: Make, dtype: int64

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [12]:
# Convert CO2 Emissions from Grams/Mile to Grams/Km

vehicles_df["CO2 Emission Grams/Mile"] = vehicles_df["CO2 Emission Grams/Mile"] / 1.60934

vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.450048,1150

In [13]:
# Create a binary column that solely indicates if the 
# transmission of a car is automatic or manual. Use pandas.Series.str.startswith and .

transmission_df = vehicles_df.Transmission
print(transmission_df)

transm_autom_or_manual_df = transmission_df.str.startswith("Auto")
print(transm_autom_or_manual_df)

# True, if automatic and false, if manual

0        Automatic 3-spd
1        Automatic 3-spd
2        Automatic 3-spd
3        Automatic 3-spd
4        Automatic 4-spd
              ...
35947          Auto(AM5)
35948          Auto(AM5)
35949          Auto(AM5)
35950          Auto(AM6)
35951       Manual 5-spd
Name: Transmission, Length: 35952, dtype: object
0         True
1         True
2         True
3         True
4         True
         ...
35947     True
35948     True
35949     True
35950     True
35951    False
Name: Transmission, Length: 35952, dtype: bool

In [14]:
# convert MPG columns to km_per_liter (City MPG, Highway MPG, Combined MPG)

vehicles_df["City MPG"] = vehicles_df["City MPG"] * 1.60934 / 3.78541

vehicles_df["Highway MPG"] = vehicles_df["Highway MPG"] * 1.60934 / 3.78541

vehicles_df["Combined MPG"] = vehicles_df["Combined MPG"] * 1.60934 / 3.78541

vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652571,7.227428,7.227428,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802286,7.227428,6.802286,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952000,8.928000,6.802286,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.580571,15.305143,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604571,16.580571,14.880000,158.450048,1150

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [15]:
# How many makers?

len(vehicles_df.Make.value_counts())

125

In [16]:
# How many models?

len(vehicles_df.Model.value_counts())

3608

In [17]:
# Which maker has the most cars?

vehicles_df.Make.value_counts()

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1677
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Lotus                                 53
Roush Performance                     53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Merkur                                14
Federal Coach                         14
Import Trade Services                 13
McLaren Automotive                    13
Spyker                                13
Sterling                              12
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
Bertone                                5
VPG                                    5
Saleen                                 5
Panther Car Company Limited            4
Saleen Performance                     4
AM General                             4
Grumman Olson                          4
Texas Coach Company                    4
Vector                                 4
Autokraft Limited                      4
TVR Engineering Ltd                    4
Bitter Gmbh and Co. Kg                 3
Evans Automobiles                      3
BMW Alpina                             3
Consulier Industries Inc               3
Dabryan Coach Builders Inc             3
Dacia                                  3
Dutton                                 3
Morgan                                 3
Ruf Automobile Gmbh                    2
Bill Dovell Motor Car Company          2
Mobility Ventures LLC                  2
Laforza Automobile Inc                 2
CCC Engineering                        2
PAS Inc - GMC                          2
PAS, Inc                               2
SRT                                    2
Pagani                                 2
Red Shift Ltd.                         2
Pininfarina                            2
Quantum Technologies                   2
Isis Imports Ltd                       1
Mahindra                               1
ASC Incorporated                       1
Aurora Cars Ltd                        1
Volga Associated Automobile            1
Vixen Motor Company                    1
JBA Motorcars, Inc.                    1
London Coach Co Inc                    1
London Taxi                            1
Import Foreign Auto Sales Inc          1
Environmental Rsch and Devp Corp       1
Grumman Allied Industries              1
Goldacre                               1
General Motors                         1
Shelby                                 1
Fisker                                 1
Panos                                  1
Panoz Auto-Development                 1
Excalibur Autos                        1
Qvale                                  1
Lambda Control Systems                 1
Name: Make, dtype: int64

In [18]:
# When were the cars made?

vehicles_df.Year.value_counts()

1985    1581
2015    1264
2016    1228
2014    1211
1987    1198
1986    1188
2008    1184
2009    1183
2013    1168
2005    1156
2012    1139
1989    1127
2007    1126
2011    1124
1991    1122
1988    1119
2004    1113
2010    1108
1992    1107
2006    1099
1993    1077
1990    1068
2003    1034
1994     967
2002     961
1995     928
2001     902
2017     857
1999     828
2000     827
1998     791
1996     767
1997     755
1984     645
Name: Year, dtype: int64

In [19]:
# How big is the engine of these cars?

vehicles_df["Engine Displacement"].value_counts()

# It is different from the previous, because engine displacement has a space.

2.0    3342
3.0    2869
2.5    2286
2.4    1877
3.5    1452
1.8    1439
1.6    1343
5.0    1329
4.3    1319
2.2    1237
2.3    1032
5.7    1022
4.0     983
2.8     914
3.8     907
3.6     901
5.3     786
1.5     667
6.2     618
3.7     562
4.6     559
4.2     527
5.2     517
3.2     515
2.7     475
3.4     430
6.0     417
1.9     414
3.3     413
4.7     369
5.9     331
4.9     325
3.9     310
5.4     308
4.4     306
2.6     268
4.8     263
3.1     243
5.5     206
2.9     196
1.4     188
1.3     178
5.6     177
1.0     162
5.8     151
6.8     126
6.5     111
4.5      90
4.1      75
2.1      74
6.7      69
1.7      46
6.3      43
1.2      38
6.4      31
6.1      24
8.0      23
6.6      20
8.4      11
7.0      10
8.3       9
1.1       8
7.4       4
0.9       4
0.6       3
Name: Engine Displacement, dtype: int64

In [20]:
# What's the frequency of different transmissions, drivetrains and fuel types?
# Transmission, Drivetrain, Fuel Type

# For transmission
vehicles_df.Transmission.value_counts()

Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Automatic (A1)                          3
Manual(M7)                              3
Auto (AV)                               2
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Automatic 6spd                          1
Auto (AV-S6)                            1
Auto (AV-S8)                            1
Auto(A1)                                1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: Transmission, dtype: int64

In [21]:
# For drivetrains

vehicles_df.Drivetrain.value_counts()

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: Drivetrain, dtype: int64

In [22]:
# For fuel type

vehicles_df["Fuel Type"].value_counts()

Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Premium and Electricity           20
Gasoline or natural gas           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

In [24]:
# What's the car that consumes the least/most fuel?
# Fuel Barrels/Year

# I separated the fuel consumption column to find the min and max

fuel_barrels_year = vehicles_df["Fuel Barrels/Year"]
fuel_barrels_year.min()
fuel_barrels_year.max()

0.06

47.08714285714285

In [24]:
vehicles_df["Fuel Barrels/Year"].value_counts() 

# Just checking if previous answer is correct.

18.311667    3492
17.347895    3203
15.695714    3120
16.480500    3061
19.388824    2277
20.600625    2226
14.982273    2213
21.974000    2210
23.543571    1940
14.330870    1762
13.733750    1525
25.354615    1245
13.184400    1245
12.677308    1020
27.467500     730
12.207778     660
11.771786     598
11.365862     441
29.964545     439
10.987000     354
10.632581     243
10.300313     152
22.481471     138
9.988182      135
32.961000     130
9.694412       96
23.886563      86
20.115000      79
11.240735      66
21.232500      65
8.240250       59
9.417429       47
14.699423      45
9.155833       42
11.581364      39
8.039268       38
18.199286      37
36.623333      36
7.847857       34
16.616739      31
19.109250      31
25.479000      30
17.372045      28
15.287400      28
14.155000      28
8.908378       28
13.649464      27
10.919571      23
41.201250      21
15.924375      19
10.057500      19
8.673947       16
10.616250      16
8.451538       16
7.012979       16
11.943281      16
12.739500      15
12.328548      13
13.178793      12
0.066429       11
6.592200       11
0.155000       11
7.165435       10
0.143077       10
10.329324       8
4.878704        7
7.665349        7
47.087143       5
6.338654        5
27.298929       5
7.324667        5
7.491136        5
9.554625        5
6.219057        4
0.206667        4
0.060000        4
0.068889        3
4.737144        3
1.563190        3
0.116250        3
7.356924        3
0.109412        3
3.092539        3
0.084545        2
9.532027        2
3.614242        2
6.866875        2
9.799615        2
3.375621        2
8.246835        2
10.794366       2
2.006844        2
0.169091        2
0.132857        2
5.885893        2
0.103333        2
4.744612        1
8.670674        1
10.803703       1
8.076981        1
0.080870        1
7.984573        1
9.535201        1
8.099619        1
10.402951       1
5.846634        1
3.880578        1
5.863280        1
8.009330        1
9.178874        1
9.179989        1
3.504650        1
4.028975        1
5.115503        1
0.186000        1
3.835583        1
7.071000        1
6.359255        1
0.124000        1
4.877585        1
4.184202        1
4.827657        1
8.652550        1
Name: Fuel Barrels/Year, dtype: int64

In [25]:
# Here I can see which cars have the minimun value of fuel barrels/year

vehicles_df[vehicles_df["Fuel Barrels/Year"].isin([0.06])].stack()

17395  Make                                   Honda
       Model                      Civic Natural Gas
       Year                                    2012
       Engine Displacement                      1.8
       Cylinders                                4.0
       Transmission                 Automatic 5-spd
       Drivetrain                 Front-Wheel Drive
       Vehicle Class                   Compact Cars
       Fuel Type                                CNG
       Fuel Barrels/Year                       0.06
       City MPG                           11.478857
       Highway MPG                        16.155428
       Combined MPG                       13.179428
       CO2 Emission Grams/Mile           142.104437
       Fuel Cost/Year                          1000
17396  Make                                   Honda
       Model                      Civic Natural Gas
       Year                                    2013
       Engine Displacement                      1.8
       Cylinders                                4.0
       Transmission                 Automatic 5-spd
       Drivetrain                 Front-Wheel Drive
       Vehicle Class                   Compact Cars
       Fuel Type                                CNG
       Fuel Barrels/Year                       0.06
       City MPG                           11.478857
       Highway MPG                        16.155428
       Combined MPG                       13.179428
       CO2 Emission Grams/Mile           135.459257
       Fuel Cost/Year                          1000
17397  Make                                   Honda
       Model                      Civic Natural Gas
       Year                                    2014
       Engine Displacement                      1.8
       Cylinders                                4.0
       Transmission                 Automatic 5-spd
       Drivetrain                 Front-Wheel Drive
       Vehicle Class                   Compact Cars
       Fuel Type                                CNG
       Fuel Barrels/Year                       0.06
       City MPG                           11.478857
       Highway MPG                        16.155428
       Combined MPG                       13.179428
       CO2 Emission Grams/Mile           135.459257
       Fuel Cost/Year                          1000
17398  Make                                   Honda
       Model                      Civic Natural Gas
       Year                                    2015
       Engine Displacement                      1.8
       Cylinders                                4.0
       Transmission                 Automatic 5-spd
       Drivetrain                 Front-Wheel Drive
       Vehicle Class                   Compact Cars
       Fuel Type                                CNG
       Fuel Barrels/Year                       0.06
       City MPG                           11.478857
       Highway MPG                        16.155428
       Combined MPG                       13.179428
       CO2 Emission Grams/Mile           135.459257
       Fuel Cost/Year                          1000
dtype: object

In [28]:
# And here, which cars have the max of fuel barrels/year.

vehicles_df[vehicles_df["Fuel Barrels/Year"].isin([47.08714285714285])].stack()

20894  Make                            Lamborghini
       Model                              Countach
       Year                                   1986
       Engine Displacement                     5.2
       Cylinders                              12.0
       Transmission                   Manual 5-spd
       Drivetrain                 Rear-Wheel Drive
       Vehicle Class                   Two Seaters
       Fuel Type                           Premium
       Fuel Barrels/Year                 47.087143
       City MPG                           2.550857
       Highway MPG                        4.251429
       Combined MPG                          2.976
       CO2 Emission Grams/Mile          788.877073
       Fuel Cost/Year                         5800
20895  Make                            Lamborghini
       Model                              Countach
       Year                                   1987
       Engine Displacement                     5.2
       Cylinders                              12.0
       Transmission                   Manual 5-spd
       Drivetrain                 Rear-Wheel Drive
       Vehicle Class                   Two Seaters
       Fuel Type                           Premium
       Fuel Barrels/Year                 47.087143
       City MPG                           2.550857
       Highway MPG                        4.251429
       Combined MPG                          2.976
       CO2 Emission Grams/Mile          788.877073
       Fuel Cost/Year                         5800
20896  Make                            Lamborghini
       Model                              Countach
       Year                                   1988
       Engine Displacement                     5.2
       Cylinders                              12.0
       Transmission                   Manual 5-spd
       Drivetrain                 Rear-Wheel Drive
       Vehicle Class                   Two Seaters
       Fuel Type                           Premium
       Fuel Barrels/Year                 47.087143
       City MPG                           2.550857
       Highway MPG                        4.251429
       Combined MPG                          2.976
       CO2 Emission Grams/Mile          788.877073
       Fuel Cost/Year                         5800
20897  Make                            Lamborghini
       Model                              Countach
       Year                                   1989
       Engine Displacement                     5.2
       Cylinders                              12.0
       Transmission                   Manual 5-spd
       Drivetrain                 Rear-Wheel Drive
       Vehicle Class                   Two Seaters
       Fuel Type                           Premium
       Fuel Barrels/Year                 47.087143
       City MPG                           2.550857
       Highway MPG                        4.251429
       Combined MPG                          2.976
       CO2 Emission Grams/Mile          788.877073
       Fuel Cost/Year                         5800
20898  Make                            Lamborghini
       Model                              Countach
       Year                                   1990
       Engine Displacement                     5.2
       Cylinders                              12.0
       Transmission                   Manual 5-spd
       Drivetrain                 Rear-Wheel Drive
       Vehicle Class                   Two Seaters
       Fuel Type                           Premium
       Fuel Barrels/Year                 47.087143
       City MPG                           2.550857
       Highway MPG                        4.251429
       Combined MPG                          2.976
       CO2 Emission Grams/Mile          788.877073
       Fuel Cost/Year                         5800
dtype: object

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [25]:
# Use Make and CO2 Emissions Grams/Miles

# First I made a new dataframe with only Make and CO2 emission
brand_vs_co2emissions_df = vehicles_df[["Make", "CO2 Emission Grams/Mile"]].copy()
print(brand_vs_co2emissions_df)

                   Make  CO2 Emission Grams/Mile
0            AM General               324.831736
1            AM General               424.779962
2            AM General               345.133719
3            AM General               424.779962
4      ASC Incorporated               345.133719
...                 ...                      ...
35947             smart               151.614948
35948             smart               150.993575
35949             smart               151.614948
35950             smart               152.857693
35951             smart               158.450048

[35952 rows x 2 columns]

In [26]:
# Then I grouped it by Make

group_make_df = brand_vs_co2emissions_df.groupby("Make")
print(group_make_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fd40874d850>

In [27]:
# Next, I made another new dataframe, which calculated the means for every car maker 

group_make_mean_df = group_make_df.mean()
print(group_make_mean_df)

                                  CO2 Emission Grams/Mile
Make
AM General                                     379.881345
ASC Incorporated                               345.133719
Acura                                          262.583000
Alfa Romeo                                     288.287195
American Motors Corporation                    314.264744
Aston Martin                                   417.946348
Audi                                           280.087391
Aurora Cars Ltd                                368.142634
Autokraft Limited                              334.982728
BMW                                            284.262087
BMW Alpina                                     352.803358
Bentley                                        426.290692
Bertone                                        251.006341
Bill Dovell Motor Car Company                  324.831736
Bitter Gmbh and Co. Kg                         352.803358
Bugatti                                        542.497235
Buick                                          269.963993
CCC Engineering                                368.142634
CX Automotive                                  343.312774
Cadillac                                       308.375552
Chevrolet                                      318.564940
Chrysler                                       277.609760
Consulier Industries Inc                       262.959024
Dabryan Coach Builders Inc                     339.268702
Dacia                                          240.093022
Daewoo                                         240.941937
Daihatsu                                       192.742404
Dodge                                          344.554180
Dutton                                         476.419879
Eagle                                          255.476174
Environmental Rsch and Devp Corp               345.133719
Evans Automobiles                              290.638922
Excalibur Autos                                394.438536
Federal Coach                                  360.588086
Ferrari                                        442.812798
Fiat                                           189.311494
Fisker                                         105.011992
Ford                                           320.296589
GMC                                            355.109034
General Motors                                 306.785528
Genesis                                        288.405717
Geo                                            209.450825
Goldacre                                       306.785528
Grumman Allied Industries                      324.831736
Grumman Olson                                  221.418360
Honda                                          222.160996
Hummer                                         365.374644
Hyundai                                        239.241983
Import Foreign Auto Sales Inc                  290.638922
Import Trade Services                          356.214289
Infiniti                                       286.982449
Isis Imports Ltd                               276.106976
Isuzu                                          305.229090
J.K. Motors                                    390.994816
JBA Motorcars, Inc.                            368.142634
Jaguar                                         306.582116
Jeep                                           309.928716
Kia                                            242.732303
Laforza Automobile Inc                         502.012683
Lambda Control Systems                         324.831736
Lamborghini                                    469.001266
Land Rover                                     373.280395
Lexus                                          275.240120
Lincoln                                        302.572997
London Coach Co Inc                            345.133719
London Taxi                                    287.526112
Lotus                                          276.195577
MINI                                           194.935105
Mahindra                                       316.278723
Maserati                                       385.686226
Maybach                                        453.327003
Mazda                                          261.798342
McLaren Automotive                             303.981385
Mcevoy Motors                                  280.950958
Mercedes-Benz                                  311.421545
Mercury                                        271.489475
Merkur                                         305.387965
Mitsubishi                                     268.105004
Mobility Ventures LLC                          340.201573
Morgan                                         324.831736
Nissan                                         283.443767
Oldsmobile                                     273.849170
PAS Inc - GMC                                  368.142634
PAS, Inc                                       394.438536
Pagani                                         416.941106
Panos                                          368.142634
Panoz Auto-Development                         251.006341
Panther Car Company Limited                    272.819988
Peugeot                                        291.565042
Pininfarina                                    270.822632
Plymouth                                       259.018217
Pontiac                                        257.513762
Porsche                                        288.199235
Quantum Technologies                           262.959024
Qvale                                          262.959024
Ram                                            298.360841
Red Shift Ltd.                                 240.093022
Renault                                        223.586374
Rolls-Royce                                    475.397772
Roush Performance                              386.441107
Ruf Automobile Gmbh                            424.779962
SRT                                            377.173251
Saab                                           275.571531
Saleen                                         370.923931
Saleen Performance                             409.609249
Saturn                                         233.832051
Scion                                          205.920389
Shelby                                         324.831736
Spyker                                         361.479419
Sterling                                       304.252727
Subaru                                         251.230978
Suzuki                                         244.042612
TVR Engineering Ltd                            306.785528
Tecstar, LP                                    424.779962
Texas Coach Company                            460.178293
Toyota                                         270.791631
VPG                                            355.006336
Vector                                         651.919248
Vixen Motor Company                            395.348404
Volga Associated Automobile                    290.638922
Volkswagen                                     244.038998
Volvo                                          270.796572
Wallace Environmental                          408.857065
Yugo                                           221.251107
smart                                          153.498052

In [28]:
# And then sorted it descending, to get the maker with the worst CO2 emissions in average.

group_make_mean_df.sort_values(by = "CO2 Emission Grams/Mile", ascending = False)

                                  CO2 Emission Grams/Mile
Make
Vector                                         651.919248
Bugatti                                        542.497235
Laforza Automobile Inc                         502.012683
Dutton                                         476.419879
Rolls-Royce                                    475.397772
Lamborghini                                    469.001266
Texas Coach Company                            460.178293
Maybach                                        453.327003
Ferrari                                        442.812798
Bentley                                        426.290692
Ruf Automobile Gmbh                            424.779962
Tecstar, LP                                    424.779962
Aston Martin                                   417.946348
Pagani                                         416.941106
Saleen Performance                             409.609249
Wallace Environmental                          408.857065
Vixen Motor Company                            395.348404
Excalibur Autos                                394.438536
PAS, Inc                                       394.438536
J.K. Motors                                    390.994816
Roush Performance                              386.441107
Maserati                                       385.686226
AM General                                     379.881345
SRT                                            377.173251
Land Rover                                     373.280395
Saleen                                         370.923931
JBA Motorcars, Inc.                            368.142634
PAS Inc - GMC                                  368.142634
Panos                                          368.142634
CCC Engineering                                368.142634
Aurora Cars Ltd                                368.142634
Hummer                                         365.374644
Spyker                                         361.479419
Federal Coach                                  360.588086
Import Trade Services                          356.214289
GMC                                            355.109034
VPG                                            355.006336
Bitter Gmbh and Co. Kg                         352.803358
BMW Alpina                                     352.803358
Environmental Rsch and Devp Corp               345.133719
London Coach Co Inc                            345.133719
ASC Incorporated                               345.133719
Dodge                                          344.554180
CX Automotive                                  343.312774
Mobility Ventures LLC                          340.201573
Dabryan Coach Builders Inc                     339.268702
Autokraft Limited                              334.982728
Bill Dovell Motor Car Company                  324.831736
Lambda Control Systems                         324.831736
Morgan                                         324.831736
Grumman Allied Industries                      324.831736
Shelby                                         324.831736
Ford                                           320.296589
Chevrolet                                      318.564940
Mahindra                                       316.278723
American Motors Corporation                    314.264744
Mercedes-Benz                                  311.421545
Jeep                                           309.928716
Cadillac                                       308.375552
Goldacre                                       306.785528
General Motors                                 306.785528
TVR Engineering Ltd                            306.785528
Jaguar                                         306.582116
Merkur                                         305.387965
Isuzu                                          305.229090
Sterling                                       304.252727
McLaren Automotive                             303.981385
Lincoln                                        302.572997
Ram                                            298.360841
Peugeot                                        291.565042
Evans Automobiles                              290.638922
Import Foreign Auto Sales Inc                  290.638922
Volga Associated Automobile                    290.638922
Genesis                                        288.405717
Alfa Romeo                                     288.287195
Porsche                                        288.199235
London Taxi                                    287.526112
Infiniti                                       286.982449
BMW                                            284.262087
Nissan                                         283.443767
Mcevoy Motors                                  280.950958
Audi                                           280.087391
Chrysler                                       277.609760
Lotus                                          276.195577
Isis Imports Ltd                               276.106976
Saab                                           275.571531
Lexus                                          275.240120
Oldsmobile                                     273.849170
Panther Car Company Limited                    272.819988
Mercury                                        271.489475
Pininfarina                                    270.822632
Volvo                                          270.796572
Toyota                                         270.791631
Buick                                          269.963993
Mitsubishi                                     268.105004
Qvale                                          262.959024
Consulier Industries Inc                       262.959024
Quantum Technologies                           262.959024
Acura                                          262.583000
Mazda                                          261.798342
Plymouth                                       259.018217
Pontiac                                        257.513762
Eagle                                          255.476174
Subaru                                         251.230978
Bertone                                        251.006341
Panoz Auto-Development                         251.006341
Suzuki                                         244.042612
Volkswagen                                     244.038998
Kia                                            242.732303
Daewoo                                         240.941937
Red Shift Ltd.                                 240.093022
Dacia                                          240.093022
Hyundai                                        239.241983
Saturn                                         233.832051
Renault                                        223.586374
Honda                                          222.160996
Grumman Olson                                  221.418360
Yugo                                           221.251107
Geo                                            209.450825
Scion                                          205.920389
MINI                                           194.935105
Daihatsu                                       192.742404
Fiat                                           189.311494
smart                                          153.498052
Fisker                                         105.011992

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [45]:
# I will create a new dataframe with transmission and fuel barrels/year

transm_fuel_df = vehicles_df[["Transmission", "Fuel Barrels/Year"]].copy()

print(transm_fuel_df)

          Transmission  Fuel Barrels/Year
0      Automatic 3-spd          19.388824
1      Automatic 3-spd          25.354615
2      Automatic 3-spd          20.600625
3      Automatic 3-spd          25.354615
4      Automatic 4-spd          20.600625
...                ...                ...
35947        Auto(AM5)           9.155833
35948        Auto(AM5)           9.155833
35949        Auto(AM5)           9.155833
35950        Auto(AM6)           9.155833
35951     Manual 5-spd           9.417429

[35952 rows x 2 columns]

In [49]:
# Next I will change the values containing auto to simply automatic

transm_fuel_df["Transmission"][transm_fuel_df["Transmission"].str.contains("Auto")]

0        Automatic
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
35946    Automatic
35947    Automatic
35948    Automatic
35949    Automatic
35950    Automatic
Name: Transmission, Length: 24290, dtype: object

In [50]:
transm_fuel_df["Transmission"][transm_fuel_df["Transmission"].str.contains("Auto")] = "Automatic"

/var/folders/5w/01d7vm4j0msggtd01phb8l600000gn/T/ipykernel_11637/4084527863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transm_fuel_df["Transmission"][transm_fuel_df["Transmission"].str.contains("Auto")] = "Automatic"

In [51]:
transm_fuel_df["Transmission"][transm_fuel_df["Transmission"].str.contains("Auto")]

0        Automatic
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
35946    Automatic
35947    Automatic
35948    Automatic
35949    Automatic
35950    Automatic
Name: Transmission, Length: 24290, dtype: object

In [52]:
# Now I will change the values containing manu to manual

transm_fuel_df["Transmission"][transm_fuel_df["Transmission"].str.contains("Manu")]

6        Manual 5-spd
9        Manual 5-spd
12       Manual 5-spd
23       Manual 6-spd
40       Manual 6-spd
             ...
35929    Manual 4-spd
35930    Manual 5-spd
35931    Manual 4-spd
35939    Manual 5-spd
35951    Manual 5-spd
Name: Transmission, Length: 11662, dtype: object

In [53]:
transm_fuel_df["Transmission"][transm_fuel_df["Transmission"].str.contains("Manu")] = "Manual"

/var/folders/5w/01d7vm4j0msggtd01phb8l600000gn/T/ipykernel_11637/3302458486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transm_fuel_df["Transmission"][transm_fuel_df["Transmission"].str.contains("Manu")] = "Manual"

In [54]:
# Now I have the updated version of my new df - transm_fuel_df

transm_fuel_df

      Transmission  Fuel Barrels/Year
0        Automatic          19.388824
1        Automatic          25.354615
2        Automatic          20.600625
3        Automatic          25.354615
4        Automatic          20.600625
...            ...                ...
35947    Automatic           9.155833
35948    Automatic           9.155833
35949    Automatic           9.155833
35950    Automatic           9.155833
35951       Manual           9.417429

[35952 rows x 2 columns]

In [55]:
# I will group it by transmission

group_transm_df = transm_fuel_df.groupby("Transmission")
print(group_transm_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fd408c61670>

In [56]:
# Next, I make another new dataframe, which calculates the means for fuel consumpiton

group_transm_mean_df = group_transm_df.mean()
print(group_transm_mean_df)

              Fuel Barrels/Year
Transmission
Automatic             18.043152
Manual                16.704904

In [ ]:
# Now I can see that cars with automatic transmission consume more fuel.